
.container {
  width: 100%;
  max-width: 1440px;
  padding: 70px 30px;
  background-color: rgb(230,230,230);

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    position: relative;
  
    img {
      width: 100%;
      height: 100%  ;
    }
  
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 100px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
  
      h2 {
        font-size: 50px;
      }
    }
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0;
  
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      height: 250px;
      padding: 20px;
      background-color: rgb(116, 47, 47);
      color: white;
      box-shadow: 0 1px 4px black;
      border-radius: 8px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 5px 0 0 0;
      }

      img {
        width: 30px;
        filter: invert(1);
      }

      &::after {
        content: '';
        width: 40px;
        height: 1px;
        background-color: white;
      }
    }
  }
}