.container {
  width: 100%;
}

.container .swiper {
  width: 100%;
  height: 60vh;
}

.container .swiper .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

.container .swiper .box img {
  width: 100%;
  height: 100%;
}

.container .swiper .box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.container .swiper .box .text .textImg {
  font-size: 50px;
  margin-bottom: 30px;
  color: white;
}

.container .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 20px auto;
  width: 90%;
}

.container .welcome .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  padding: 20px;
}

.container .welcome img {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.container .local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 30px auto;
  width: 90%;
}

.container .local iframe {
  border: none;
  width: 100%;
  height: 450px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1050px) {
  .container .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .welcome .text {
    width: 100%;
  }
  .container .welcome img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container .swiper {
    height: 50vh;
  }
  .container .swiper .box .text .textImg {
    font-size: 30px;
  }
  .container .local iframe {
    height: 350px;
  }
  .welcome {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .swiper .box .text .textImg {
    font-size: 25px;
  }
}
/*# sourceMappingURL=Home.module.css.map */